Catalog/pkgs/Wadl/Salvarepoza.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://europe-001.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="Salvarepoza" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="Salvare poza" />
  <grammars>
    <jsonTypes targetNamespace="https://europe-001.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_Crea_Ux021B_ifi_Ux0219_ierul_Con_Ux021B_inutfi_Ux0219_ier_def" />
      <string name="ManualTriggerInput_Crea_Ux021B_ifi_Ux0219_ierul_Numefi_Ux0219_ier_def" />
      <string name="ManualTriggerInput_Crea_Ux021B_ifi_Ux0219_ierul_Numefi_Ux0219_ier_1_def" />
      <string name="ManualTriggerInput_Addarowintoatable_User_def" />
      <object name="ManualTriggerInput">
        <property name="Creațifișierul_Conținutfișier" type="string" />
        <property name="Creațifișierul_Numefișier" type="string" />
        <property name="Creațifișierul_Numefișier_1" type="string" />
        <property name="Addarowintoatable_User" type="string" />
      </object>
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://europe-001.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="Creațifișierul_Conținutfișier" path="/Creațifișierul_Conținutfișier" type="xs:string" required="true" />
            <param style="plain" name="Creațifișierul_Numefișier" path="/Creațifișierul_Numefișier" type="xs:string" required="true" />
            <param style="plain" name="Creațifișierul_Numefișier_1" path="/Creațifișierul_Numefișier_1" type="xs:string" required="true" />
            <param style="plain" name="Addarowintoatable_User" path="/Addarowintoatable_User" type="xs:string" required="true" />
          </representation>
        </request>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>